/**
 * =============================================================================
 * Variables - Timings
 * =============================================================================
 */

$fadeInUp-distance: 40px;
$fadeInUp-timing: 900ms;
$fadeInUp-delay: 150ms;
$fadeInUp-easing: $ease_out_expo;

$interaction-timing: 450ms;
$interaction-easing: $ease-in-out-circ;

$carousel-timing: 600ms;
$carousel-easing: $ease-out-quart;
